.toolCenter {
    background-color: #0061C1;
    display: flex;
    position: fixed;
    flex-flow: row wrap;
    gap: 1rem;
    width: 100vw;
    top: 85%;
    justify-content: center;

}

.button_toolCenter {
    width: 7rem;
    border: none;
    height: 2.5rem;
    color: white;
    font-size: 21px;
    border-radius: 15px;
    font-family: "Sansita", system-ui;
}

.Criar {
    background-color: #FF9500;
}

.Finalizar {
    background-color: #000DFF;
}

.Remover {
    background-color: #FF0000;
}